/* main container */
@keyframes bigger{
    from{
        top: 0;
        left: 0;

        width: 113px;
        height: 113px;
        border-radius: 50%;
    }to{
        top: -127px;
        left: -103.5px;

        width: 320px;
        height: 240px;
        border-radius: 5%;
    }
}

@keyframes bigger-before{
    from{
        top: 103px;
    }to{
        top: 235px;
    }
}

@keyframes smaller{
    from{
        top: -127px;
        left: -103.5px;

        width: 320px;
        height: 240px;
        border-radius: 5%;
    }to{
        top: 0;
        left: 0;

        width: 113px;
        height: 113px;
        border-radius: 50%;
    }
}

@keyframes smaller-before{
    from{
        top: 235px;
    }to{
        top: 103px;
    }
}


/* image container */
@keyframes to-square{
    0%{
        width: 100px;
        height: 100px;
        border-radius: 70%;
        opacity: 0%;
    }50%{
        opacity: 0%;
    }80%{
        opacity: 50%;
    }100%{
        width: 140px;
        height: 210px;
        border-radius: 5%;
        opacity: 100%;
    }
}

@keyframes to-circle{
    0%{
        width: 150px;
        height: 220px;
        border-radius: 3%;
        opacity: 0%;
    }50%{
        opacity: 0%;
    }80%{
        opacity: 50%;
    }100%{
        width: 100px;
        height: 100px;
        border-radius: 70%;
        opacity: 100%;
    }
}


@keyframes show-explain{
    0%{
        opacity: 0%;
    }50%{
        opacity: 0%;
    }80%{
        opacity: 50%
    }100%{
        opacity: 100%;
    }
}



.hidden{
    display: none;
}

body, html{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.icons-div{
    position: absolute;
}

.icon-box{
    position: absolute;
}

.icon-container{
    animation: smaller 1s forwards;

    top: 0;
    left: 0;

    width: 113px;
    height: 113px;
    border-radius: 50%;
    background-color: rgb(221, 221, 221);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}


.icon-container-arrow{
    animation: smaller-before 1s forwards;

    width: 0;
    height: 0;
    border-top: 20px solid rgb(221, 221, 221);
    border-bottom: 20px solid transparent;
    border-left: 31px solid transparent;
    border-right: 31px solid transparent;

    position: absolute;
    top: 103px;
}



.big{
    animation: bigger 1s forwards;
}

.big > .icon-container-arrow{
    animation: bigger-before 1s forwards;
}



.circle-cut{
    animation: to-circle 1s forwards;

    width: 100px;
    height: 100px;
    border-radius: 70%;
    overflow: hidden;
    position: absolute;
}

.square-cut{
    animation: to-square 1s forwards;
    overflow: hidden;
}


.plant-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.explain{
    animation: show-explain 1s forwards;

    flex-direction: column;
    justify-content: center;

    width: 140px;
    height: 210px;
    margin-left: 10px;
    overflow: hidden;
}

.map{
    position: relative;
} 